apiVersion: v1
kind: LimitRange
metadata:
  name: scloud-compute-limitrange
  namespace: scloud-compute
spec:
  limits:
    - type: Container
      default:
        cpu: "1000m"
        memory: "1Gi"
      defaultRequest:
        cpu: "250m"
        memory: "256Mi"
